<ion-header [translucent]="true">

</ion-header>

<ion-content class="ion-padding ion-text-center">

  <div class="logo">
    <img src="">
  </div>

  <div class="form">
  <ion-item lines="none">
    <ion-input [(ngModel)]='email' placeholder="Enter email!"></ion-input>
  </ion-item>

  <ion-item lines="none">
    <ion-input [(ngModel)]='password' placeholder="Password" type="password"></ion-input>
  </ion-item>

  <ion-button color="dark" expand="block">Login</ion-button>
</div>

  <ion-button fill='clear'>New here? Sign Up!</ion-button>

</ion-content>