.logo{
    img{
        height: 200px;
    }
    margin-top: 20%;
}

.form{
    margin-top: 20px;
    ion-item{
        border-radius: 5px;
        margin-bottom: 10px;
        border-style: solid;
        border-width: 2px;
        border-color: green;
    }
}

.h2{
    margin-bottom: 10px;
    position: absolute;
}

.login {
    transition-duration: 0.4s;
    display: flex;
    position: relative;
    margin: 0 auto;
    width: 70vw;
    border-radius: 5px;
    background-color: green;
}
 
.login:hover {
    background-color: rgb(79, 184, 79);
    color: white;
}

.signup {
    transition-duration: 0.4s;
    display: flex;
    position: relative;
    margin: 0 auto;
    width: 70vw;
    border-radius: 5px;
}
 
.signup:hover {
    color: white;
}