<ion-header>
  <ion-toolbar>
    <ion-title>
      Chat with humans!
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>
    <ion-row *ngFor="let chatMessage of messages">
      <ion-col size="9" *ngIf="currentUser !== chatMessage.user" class="chatMessage other-message">
        <ion-avatar class="pic">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <b>{{chatMessage.user}}</b><br>
        <span>{{chatMessage.msg}}</span>
        <div class="time" text-right><br>
        {{ chatMessage.dateSent | date:'short'}}</div>
      </ion-col>

      <ion-col offset="3" size="9" *ngIf="currentUser === chatMessage.user" class="chatMessage my-message">
        <ion-avatar class="pic">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <b>{{chatMessage.user}}</b><br>
        <span>{{chatMessage.msg}}</span>


        <p>{{likeCount}} like</p> <p>{{dislikeCount}} dislike</p>
        <ion-button (click)="likeButton()">Like</ion-button>
        <ion-button (click)="dislikeButton()">Dislike</ion-button>
        
        <div class="time" text-right><br>
        {{ chatMessage.dateSent | date:'short'}}</div>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <ion-row>
      <ion-col size="10">
        <textarea autosize maxRows="4" [(ngModel)]="enterMsg" class="message-input"></textarea>
      </ion-col>

      <ion-col size="2">
        <ion-button expand="block" fill="clear" color="primary" [disabled]="enterMsg === ''" class="msg-btn"
        (click)="sendMsg()">
        <ion-icon name="send" slot="icon-only"></ion-icon>
      </ion-button>

      <ion-button expand="block" fill="clear" color="primary" class="cam-btn" (click)="chatCamera()">
        <ion-icon name="camera" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-list *ngFor="let picture of pictures">
        <ion-item>
          <img src={{picture}} style="width:200px; height:150px;"/>
        </ion-item>
      </ion-list>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
