
<ion-content>

  <h2>Welcome to our Chat!</h2>

 
  <div class="form">


  <ion-button color="dark" expand="block" routerLink="/signup">Sign Up</ion-button>
  <ion-button color="dark" expand="block" routerLink="/login">Login</ion-button>

<ion-card class="card">
  <ion-card-content>
 
  <img class="logo" src = "assets/images/logo.png">
 
  <ion-card-title class="title">Welcome to the Chat App!</ion-card-title>
  <br>

  
  <div class="form">
    <ion-button color="white" class="signup" routerLink="/signup">Sign Up</ion-button>
    <br>
    <ion-button color="white" class="login" routerLink="/login">Login</ion-button>
  </div>
 
  </ion-card-content>
</ion-card>
  </div>
</ion-content>
