.card {
    margin: auto;
}
 
.logo { 
    display: block;
    margin: auto;
    width: 200px;
    height: 200px;
}
 
.signup {
    transition-duration: 0.4s;
    display: flex;
    position: relative;
    margin: 0 auto;
    width: 70vw;
    border-radius: 5px;
    background-color: green;
}
 
.signup:hover {
    background-color: rgb(79, 184, 79);
    color: white;
}
 
.login {
    transition-duration: 0.4s;
    display: flex;
    position: relative;
    margin: 0 auto;
    width: 70vw;
    border-radius: 5px;
    background-color: green;
}
 
.login:hover {
    background-color: rgb(79, 184, 79);
    color: white;
}
 
.title {
    text-align: center;
}
